<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nationality</th>
      <th>Email</th>
      <th>Model</th>
      <th>Year</th>
      <th>ChassisNumber</th>
      <th>Color</th>
      <th>RegistrationDate</th>
      <th>OdometerReading</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>